<ul class="meta-data">

   
{% comment %} 
  {% if product.metafields.custom.name_producer %}
    <li>
      <span><strong>Name & Producer :</strong></span> <span>{{ product.metafields.custom.name_producer }}</span>
    </li>
  {% endif %} {% endcomment %}

  
{% if product.metafields.custom.producer %}
  <li>
    <span><strong>Producer:</strong></span> 
    <a href="/collections/all?sort_by=title-ascending&filter.p.m.custom.producer={{ product.metafields.custom.grapes | url_encode }}" class="text-link">
      <span>{{ product.metafields.custom.producer }}</span>
    </a>
  </li>
{% endif %}


  {% if product.metafields.custom.grapes %}
   <li>
  <span><strong>Grape(s) / Raw Material:</strong></span> 
  <a href="/collections/all?sort_by=title-ascending&filter.p.m.custom.grapes={{ product.metafields.custom.grapes | url_encode }}" class="text-link">
    {{ product.metafields.custom.grapes }}
  </a>
</li>

{% endif %}



  {% if product.metafields.custom.country %}
    <li>
      <span><strong>Country:</strong></span> <span>{{ product.metafields.custom.country }}</span>
    </li>
  {% endif %}

  {% if product.metafields.custom.region %}
    <li>
      <span><strong>Region:</strong></span> <span>{{ product.metafields.custom.region }}</span>
    </li>
  {% endif %}

  {% if product.metafields.custom.sub_region %}
    <li>
      <span><strong>Sub-Region:</strong></span> <span>{{ product.metafields.custom.sub_region }}</span>
    </li>
  {% endif %}

  {% comment %} Appellation is usually same as appellation, but if you want both, leave this block. {% endcomment %}
  {% if product.metafields.custom.sub_region %}
    <li>
      <span><strong>Appellation:</strong></span> <span>{{ product.metafields.custom.appellation }}</span>
    </li>
  {% endif %}

  {% if product.metafields.custom.farming_practices %}
    <li>
      <span><strong>Farming Practices:</strong></span> <span>{{ product.metafields.custom.farming_practices }}</span>
    </li>
  {% endif %}

  {% if product.metafields.custom.extras %}
    <li>
      <span><strong>Extras:</strong></span> <span>{{ product.metafields.custom.extras }}</span>
    </li>
  {% endif %}

  {% if product.metafields.custom.flavor_profile %}
    <li>
      <span><strong>Body & Style:</strong></span> <span>{{ product.metafields.custom.flavor_profile }}</span>
    </li>
  {% endif %}

  {% if product.metafields.custom.volume_of_the_product %}
    <li>
      <span><strong>Size:</strong></span> <span>{{ product.metafields.custom.volume_of_the_product }}</span>
    </li>
  {% endif %}

</ul>
