<ul class="meta-data">

   
{% comment %} 
  {% if product.metafields.custom.name_producer %}
    <li>
      <span><strong>Name & Producer :</strong></span> <span>{{ product.metafields.custom.name_producer }}</span>
    </li>
  {% endif %} {% endcomment %}

  
{% if product.metafields.custom.producer != blank %}
  <li>
    <span><strong>Producer:</strong></span> 
    <a href="/collections/all?sort_by=title-ascending&filter.p.m.custom.producer={{ product.metafields.custom.grapes | url_encode }}" class="text-link">
      <span>{{ product.metafields.custom.producer }}</span>
    </a>
  </li>
{% endif %}


  {% if product.metafields.custom.grapes != blank %}
   <li>
    {% comment %} Varietals: Grape(s) / Raw Material {% endcomment %}
  <span><strong>Varietals:</strong></span> 

 {% comment %} 
  <ul class="tags">
     {% for tag in product.tags %}
        <li>
          <a href="{{ routes.all_products_collection_url }}/{{ tag | handle }}">
            {{ tag }}
          </a>
        </li>
      {% endfor %}
    </ul> {% endcomment %}


 <a href="/collections/all?sort_by=title-ascending&filter.p.m.custom.grapes={{ product.metafields.custom.grapes | url_encode }}" class="text-link">
    {{ product.metafields.custom.grapes }}
  </a> 
</li>

{% endif %}


{% if product.metafields.custom.country != blank %}
  <li>
    <span><strong>Country:</strong></span> <a href="/collections/all?sort_by=title-ascending&filter.p.m.custom.country={{ product.metafields.custom.country | url_encode }}" class="text-link"><span>{{ product.metafields.custom.country }}</span></a>
  </li>
{% endif %}

{% if product.metafields.custom.region != blank %}
  <li>
    <span><strong>Region:</strong></span> <span>{{ product.metafields.custom.region }}</span>
  </li>
{% endif %}

{% if product.metafields.custom.sub_region != blank %}
  <li>
    <span><strong>Sub-Region:</strong></span> <span>{{ product.metafields.custom.sub_region }}</span>
  </li>
{% endif %}

{% comment %} Appellation is usually same as appellation, but if you want both, leave this block. {% endcomment %}
{% if product.metafields.custom.appellation != blank %}
  <li>
    <span><strong>Appellation:</strong></span> <span>{{ product.metafields.custom.appellation }}</span>
  </li>
{% endif %}

{% if product.metafields.custom.farming_practices != blank %}
  <li>
    <span><strong>Farming Practices:</strong></span> <span>{{ product.metafields.custom.farming_practices }}</span>
  </li>
{% endif %}

{% if product.metafields.custom.extras != blank %}
  <li>
    <span><strong>Extras:</strong></span> <span>{{ product.metafields.custom.extras }}</span>
  </li>
{% endif %}

{% if product.metafields.custom.flavor_profile != blank %}
  <li>
    <span><strong>Body & Style:</strong></span> <span>{{ product.metafields.custom.flavor_profile }}</span>
  </li>
{% endif %}

{% if product.metafields.custom.volume_of_the_product != blank %}
  <li>
    <span><strong>Size:</strong></span> <span>{{ product.metafields.custom.volume_of_the_product }}</span>
  </li>
{% endif %}


</ul>
