
{% style %}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  .embed-warpper{
    padding:54px;
    background-color: #5D1619;
  }

  .embed-container iframe {
    max-width: 100%;
    border: 0;
  padding: 40px;
  background: #82282A;

  border: 0;
  outline: 0;
  box-shadow: none;

  margin: auto;
  display: block;
   
  }

  .embed-title {
    margin: 20px;
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  font-family: "Anybody", sans-serif !important;
  text-align: center;
  }

  .schedule-block {
   display: flex;
  justify-content: space-between;
  font-size: 26px;
 
  }
  
  .schedule-block span{ font-weight: 300; }

.time-table{
      max-width: 640px;
    margin: 40px auto;
    width: 100%;
}


.time-table ul{
    padding:52px; width:100%; 
    background-color: #5D1619;
    color:#fff;
}

.embed-title_2{
    font-size:4.5rem;
    text-align:center;  margin: 20px 0 14px 0;
}

.padding-20px{
    padding: 20px;
  
}

@media(max-width:1150px){
.schedule-block {
   
    font-size: 19px;

}

}


@media(max-width:749px){

.time-table ul {
    padding: 20px;
}
      .embed-warpper{
    padding:40px 20px;
}


}

{% endstyle %}

<div class="section-{{ section.id }}-padding">
  <div class="page-width page-width-full p-0">
    <div class="image-with-text__grid grid grid--gapless grid--1-col grid--2-col-tablet">
      
      <!-- First Column: Embed Code and Title -->
      <div class="grid__item">
        <div class="embed-warpper">
          {% if section.settings.embed_code != blank %}
            <div
              id="ImageWithText--{{ section.id }}"
              class="ImageWithText__text-col {% if section.settings.custom_style %} image-with-text__custom-text {% endif %} image-with-text__content image-with-text__content--{{ section.settings.desktop_content_position }} image-with-text__content--desktop-{{ section.settings.desktop_content_alignment }} image-with-text__content--mobile-{{ section.settings.mobile_content_alignment }}"
            >
              <div class="text-wrapper">
                <div class="embed-container">
                  {{ section.settings.embed_code }}
                </div>
                
                {% if section.settings.title != blank %}
                  <h2 class="embed-title">{{ section.settings.title }}</h2>
                {% endif %}

                {% if section.settings.text2 != blank %}
                  <h2 class="embed-title">
                    <a href="{{ section.settings.url1 }}" class="ph-link">{{ section.settings.text2 }}</a>
                  </h2>
                {% endif %}
              </div> <!-- .text-wrapper -->
            </div> <!-- .ImageWithText__text-col -->
          {% endif %}
        </div> <!-- .embed-warpper -->
      </div> <!-- .grid__item (First Column) -->

      <!-- Second Column: Blocks as list -->
      <div class="grid__item">
        <div class="padding-20px">

        <div
        id="ImageWithText--{{ section.id }}"
        class="ImageWithText__text-col {% if section.settings.custom_style %} image-with-text__custom-text {% endif %} image-with-text__content image-with-text__content--{{ section.settings.desktop_content_position }} image-with-text__content--desktop-{{ section.settings.desktop_content_alignment1 }} image-with-text__content--mobile-{{ section.settings.mobile_content_alignment }}"
      >
      <div class="text-wrapper">

          <div class="time-table">
            {% if section.settings.title_2 != blank %}
              <h2 class="embed-title_2">{{ section.settings.title_2 }}</h2>
            {% endif %}

            <ul class="list-unstyled">
              {% for block in section.blocks %}
                {% if block.type == 'schedule' %}
                  <li class="schedule-block" {{ block.shopify_attributes }}>
                    <strong>{{ block.settings.day }}</strong> <span>{{ block.settings.time }}</span>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div> <!-- .time-table -->
          </div>
        </div> <!-- .padding-20px -->
      </div> <!-- .grid__item (Second Column) -->
</div>
    </div> <!-- .image-with-text__grid -->
  </div> <!-- .page-width -->
</div> <!-- .section-padding -->


{% schema %}
{
  "name": "Embed and Schedule List",
  "class": "section",
  "settings": [

  {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.image-with-text.settings.desktop_content_alignment.label"
    },

    {
      "type": "select",
      "id": "desktop_content_alignment1",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "col second alignment"
    },

    {
      "type": "textarea",
      "id": "embed_code",
      "label": "Embed Code"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title below embed"
    },
     {
      "type": "text",
      "id": "title_2",
      "label": "Title Second"
    },
 {
      "type": "text",                             
      "id": "text2",
      "label": "Text"
    },
        
      {
        "type": "url",
        "id": "url1",
        "label": "External Link",
        "default": "/"
      },

    {
      "type": "range",
      "id": "padding_top",
      "label": "Padding Top",
      "min": 0,
      "max": 100,
      "step": 4,
      "default": 40,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "Padding Bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "default": 40,
      "unit": "px"
    }
  ],
  "blocks": [
    {
      "type": "schedule",
      "name": "Schedule Block",
      "settings": [
        {
          "type": "text",
          "id": "day",
          "label": "Day"
        },
        {
          "type": "text",
          "id": "time",
          "label": "Time"
        }
      ]
    }
  ],
  "max_blocks": 10,
  "presets": [
    {
      "name": "Embed with List"
    }
  ]
}
{% endschema %}
